name: quiz_ai_bot
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.4
  provider: ^6.0.3
  pdf_text: ^0.5.0
  file_picker: ^6.1.1
  speech_to_text: ^6.1.0
  flutter_tts: ^3.6.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
